@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin:0;
    padding:0;
    font-family:"Poppins", serif;
    max-width:1500px;
    margin-left:auto;
    margin-right:auto;
}

.header-div{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
}
.container{
    padding-left: 100px;
    padding-right: 100px;
}
.header-div-2 li{
    display: inline;
    list-style:none;
    margin-left: 34px;
}
.header-div-2 a:hover{
    color: darkorange;
}
.header-div-2 a{
   text-decoration: none;
   color: #3A3A3A;
   font-size: 16px;
   font-weight: 600;
}
.header-div-2 i{font-size: 20px;
}
.bar i{
    font-size: 30px;
    font-weight: 700;
    
}
.bar {
    display: none;
}

/* header end */

.sec-1{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    flex-wrap: wrap-reverse;
}

.sec-1-row1{

flex-basis: 45%;
}
.sec-1-row2{
    flex-basis: 45%;
    display: flex;
    justify-content: center;
}
.sec-1-row2 img{
    width:auto;
    height:400px;
    }
.sec-1-row1 h1{
    font-size: 52px;
    font-weight: 700;
    color:#3A3A3A;
    line-height: 70px;
    margin-bottom: 0;
    }
.sec-1-row1 p{
    font-size:16px;
    font-weight: 600;
    color:#3A3A3A;
    }
.sec-1-row1 button{
    padding: 10px 24px;
    border-radius:100px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color:#E02C6D;
    border: none;
    margin-top: 10px;
    }
    

    /* section-1 end */

    .sec-2-flex{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom:28px ;
        padding-top: 28px;
        flex-wrap: wrap;

    }
    .sec-2{
        margin-top: 100px;
        
    }
    .sec-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hr{
        width:88%;
        height:1px;
        background-color: #7f79794e;
    }
   
    .log{
        margin-left: 30px;
        margin-right: 30px;
    }
/* section2 end */
.sec-3 h2{
    font-weight: 600;
    font-size: 35px;
    color: #3A3A3A;
}
.sec-3{
    margin-top: 100px;
}

.box {
    width: 330px;
    height:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 15px;
    padding-bottom:14px;
    border-radius: 1%;
}
.box:hover{
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}
.cen{
    display: flex
    ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 17px;
}
.box img{
    width: 300px;
    height: 256px;
}
.sec-3-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.box2{
    margin-right: 30px;
    margin-left: 30px;
}
.box h3{
    font-size: 28px;
    font-weight: 500;
    color: #18191F;margin-left: 14px;
    margin-top: 17px;
    margin-bottom: 0;
}
.box h4{
    font-size: 24px;
    font-weight:500;
    font-family: "Inter", serif;
    color: #18191F;margin-left: 14px;
    margin-top: 6px;
    margin-bottom: 0;
}
.rev {
    display: flex;
    align-items: center;
    color: #18191F;margin-left: 14px;
    margin-top: 0px;
    
    margin-top: -8px;
}
.rev i {
    font-size: 10px;
    color: orange;
    margin-right: 2px;
}
.box p{
    font-weight: bold;
    color: #787885;
    font-size: 14px;
    margin-left: 14px;
    
}
.rev p {
    font-size: 13px;
    color: black;
    margin-left: 4px;
}
.seemore{
    display: flex;
    justify-content: end;
    margin-right: 150px;
}
.seemore a{
    text-decoration: none;
    color: #E02C6D;
}
.seemore i{margin-left: 5px;
}

